/*
p{
    background-color: blue;
    color: white;
}*/

/*
.first-class{
    background-color: black;
    color: white;
}*/


/*
#firs-class1{
    background-color: green;
    color: white;
}*/

h3{
    background-color: blue;
    color: white;
}

p{
    background-color: red;
    color: white;
}

.small-class{
    background-color: darkorchid;
    color: white;
}

#small-id{
    background-color: royalblue;
    color: white;
}